# =========================
# IDEs
# =========================
.vscode/
.idea/
*.iml

# =========================
# Build (Maven)
# =========================
target/

# =========================
# Logs
# =========================
*.log

# =========================
# Sistema operacional
# =========================
.DS_Store
Thumbs.db

# =========================
# Arquivos temporários
# =========================
*.tmp
*.swp

# =========================
# Configurações locais
# =========================
.env

# =========================
# Classe de teste manual
# =========================
src/main/java/com/academia_cli/TestConnection.java